@charset "utf-8";
/* CSS Document */
 .item-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .item-box {
            padding: 20px;
            text-align: center;
        }

        .item-image {
            max-width: 100%;
            transition: transform 0.3s ease-in-out;
        }

        .item-box:hover .item-image {
            transform: translateY(-20px);
        }

        .item-title {
            font-size: 18px;
            margin: 10px 0;
			transition: color 0.3s ease-in-out;
        }
	
	    .item-title:hover {
            color: #F08080;
			/*filter: brightness(1.5);*/
        }

        .item-price {
            font-size: 16px;
            color: #000000;
			transition: color 0.3s ease-in-out;
        }
.item-price:hover{
	color: #8A2BE2;
     filter: brightness(1.0);
}
		  
	a{
		color:black
	 }

.link {
          transition: color 0.2s ease-in-out;
	      text-decoration: none; /* Remove o sublinhado */
        }
.link:hover{
	color: #FF8C00;
	filter: brightness(1.0);
	text-decoration: underline;
}

.but{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"sans-serif;
    font-size: 12px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #FFFFFF;
    color: #000000;
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}
.form{
	font-family: Cambria
}


.contact{
	display: inline-block; /* Para que a imagem ocupe apenas o espaço necessário */
    transition: transform 0.3s ease;
}
.contact:hover{
	transform: scale(1.2);
}